.header {
	text-align: center;
	width: 100%;
	background-color: #B7D3D0 !important;
}

.container {
	background-color: white;
}

body {
	background-color: #B7D3D0 !important;
}

.content {
	text-align: center;
	width: 100%;
	background-color: #77DBDF !important;
}

.footer {
	text-align: center;
	width: 100%;
	background-color: #B7D3D0 !important;
}

.left-align {
	text-align: left !important;
}

#important {
	font-size: 18px;
}